<h1><%= @cat.name %></h1>

<p>
  <ul>
    <li><%= @cat.age %></li>
    <li><%= @cat.birth_date %></li>
    <li><%= @cat.sex %></li>
    <li><%= @cat.color %></li>
    <li><%= @cat.neighborhood %></li>
  </ul>
</p>